@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
  overflow-x: hidden;
}

* {
  @apply border-gray-200;
}
